<div class="bg-black h-full w-screen text-center">
        <%= image_tag "machiavelliandark.png", class:" mx-auto object-cover w-full h-auto max-w-2xl object-center"%>
        <p class="text-white text-lg bg-black text-center m-2">A game of social intuition and diplomacy.</p>
        <%=link_to "How To Play",how_to_play_path,class:"text-black bg-stone-100 p-2 m-2 border-4 rounded-lg border-stone-500"%>
</div>

