<h1>Editing raise army</h1>

<%= render "form", raise_army: @raise_army %>

<br>

<div>
  <%= link_to "Show this raise army", @raise_army %> |
  <%= link_to "Back to raise armies", raise_armies_path %>
</div>
