<div id="<%= dom_id trade_request_response %>">
  <p>
    <strong>Trade player role:</strong>
    <%= trade_request_response.trade_player_role_id %>
  </p>

  <p>
    <strong>Trade request:</strong>
    <%= trade_request_response.trade_request_id %>
  </p>

  <p>
    <strong>Trade response type:</strong>
    <%= trade_request_response.trade_response_type %>
  </p>

</div>
