<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing funding request resource</h1>

  <%= render "form", funding_request_resource: @funding_request_resource %>

  <%= link_to "Show this funding request resource", @funding_request_resource, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to funding request resources", funding_request_resources_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
