<h1>New funding request resource</h1>

<%= render "form", funding_request_resource: @funding_request_resource %>

<br>

<div>
  <%= link_to "Back to funding request resources", funding_request_resources_path %>
</div>
