<h1>Editing path to power construction</h1>

<%= render "form", path_to_power_construction: @path_to_power_construction %>

<br>

<div>
  <%= link_to "Show this path to power construction", @path_to_power_construction %> |
  <%= link_to "Back to path to power constructions", path_to_power_constructions_path %>
</div>
