<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New path to power construction</h1>

  <%= render "form", path_to_power_construction: @path_to_power_construction %>

  <%= link_to 'Back to path to power constructions', path_to_power_constructions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
