<h1>Editing funding request</h1>

<%= render "form", funding_request: @funding_request %>

<br>

<div>
  <%= link_to "Show this funding request", @funding_request %> |
  <%= link_to "Back to funding requests", funding_requests_path %>
</div>
