<div class="container mx-auto h-screen w-screen max-w-2xl text-center">
  <h1 class="text-xl">Request Funding</h1>
  <%= render "form", funding_request: @funding_request %>
  <div class="m-2 p-2">
      <%= link_to "Back to actions", player_actions_path, class:"bg-gradient-to-b from-red-300 to-red-500 border-4 border-black rounded-lg p-1 m-1 text-xl" %>
    </div>
</div>