<h1>Editing resource generator construction</h1>

<%= render "form", resource_generator_construction: @resource_generator_construction %>

<br>

<div>
  <%= link_to "Show this resource generator construction", @resource_generator_construction %> |
  <%= link_to "Back to resource generator constructions", resource_generator_constructions_path %>
</div>
