<h1>New trade request resource</h1>

<%= render "form", trade_request_resource: @trade_request_resource %>

<br>

<div>
  <%= link_to "Back to trade request resources", trade_request_resources_path %>
</div>
