<div class="flex flex-col text-center justify-center m-8">
  <h1 class="text-4xl underline underline-offset-4 m-8">You have Learned that</h1><br/>
    <div class="m-4">
        
    </div>

<div class="m-4">
   <%= link_to "Main Page (NO RETURNING!)", game_page_show_path, class:"bg-teal-200 border-4 border-black rounded-lg p-3 m-2" %>
</div>
</div>