<h1>Editing player loyalty</h1>

<%= render "form", player_loyalty: @player_loyalty %>

<br>

<div>
  <%= link_to "Show this player loyalty", @player_loyalty %> |
  <%= link_to "Back to player loyalties", player_loyalties_path %>
</div>
