<p style="color: green"><%= notice %></p>

<h1>Rounds</h1>

<div id="rounds">
  <% @rounds.each do |round| %>
    <%= render round %>
    <p>
      <%= link_to "Show this round", round %>
    </p>
  <% end %>
</div>

<%= link_to "New round", new_round_path %>
