
<div class="container p-2 max-auto text-center h-screen w-screen">
  <div class="text-4xl border-solid border-black rounded-lg border-2 p-2">
    <h1>Sign Up</h1>
  </div>
  <div class="border-solid border-black rounded-lg border-2">
    <%= render "form"%>
  </div>
</div>
