<div id="<%= dom_id trade_player_role %>">
  <p>
    <strong>Player:</strong>
    <%= trade_player_role.player_id %>
  </p>

  <p>
    <strong>Trade request resource:</strong>
    <%= trade_player_role.trade_request_resource_id %>
  </p>

  <p>
    <strong>Role type:</strong>
    <%= trade_player_role.role_type %>
  </p>

</div>
