<h1>Editing trade player role</h1>

<%= render "form", trade_player_role: @trade_player_role %>

<br>

<div>
  <%= link_to "Show this trade player role", @trade_player_role %> |
  <%= link_to "Back to trade player roles", trade_player_roles_path %>
</div>
