<div id="<%= dom_id game %>">
    <%= button_to "#{game.game_name.capitalize}: #{game.players.count} houses already joined", game_page_show_path(), params:{game:game},class:" bg-gradient-to-b from-teal-200 to-teal-500 border-4 border-black rounded-lg text-center text-lg"%><br/>
</div>
