<div id="<%= dom_id resource_generator %>">
  <p>
    <strong>Player:</strong>
    <%= resource_generator.player_id %>
  </p>

  <p>
    <strong>Resource generator type:</strong>
    <%= resource_generator.resource_generator_type %>
  </p>

</div>
