<h1>Editing resource generator</h1>

<%= render "form", resource_generator: @resource_generator %>

<br>

<div>
  <%= link_to "Show this resource generator", @resource_generator %> |
  <%= link_to "Back to resource generators", resource_generators_path %>
</div>
