<div id="<%= dom_id player_match_role %>">
  <p>
    <strong>Match:</strong>
    <%= player_match_role.match_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= player_match_role.player_id %>
  </p>

  <p>
    <strong>Player match role type:</strong>
    <%= player_match_role.player_match_role_type %>
  </p>

</div>
