<h1>Editing player match role</h1>

<%= render "form", player_match_role: @player_match_role %>

<br>

<div>
  <%= link_to "Show this player match role", @player_match_role %> |
  <%= link_to "Back to player match roles", player_match_roles_path %>
</div>
