<h1>Editing trade request</h1>

<%= render "form", trade_request: @trade_request %>

<br>

<div>
  <%= link_to "Show this trade request", @trade_request %> |
  <%= link_to "Back to trade requests", trade_requests_path %>
</div>
