<div id="<%= dom_id player_military_unit_role %>">
  <p>
    <strong>Player:</strong>
    <%= player_military_unit_role.player_id %>
  </p>

  <p>
    <strong>Military unit:</strong>
    <%= player_military_unit_role.military_unit_id %>
  </p>

  <p>
    <strong>Military unit role type:</strong>
    <%= player_military_unit_role.military_unit_role_type %>
  </p>

</div>
