<h1>Editing player military unit role</h1>

<%= render "form", player_military_unit_role: @player_military_unit_role %>

<br>

<div>
  <%= link_to "Show this player military unit role", @player_military_unit_role %> |
  <%= link_to "Back to player military unit roles", player_military_unit_roles_path %>
</div>
