<div class="container mx-auto h-screen w-screen max-w-2xl text-center">
  <h1 class="text-xl underline">Player resources and loyalties</h1>
    <%if @no_resources%>
      <p class="bg-red-200 border-4 border-black rounded-lg text-lg">You have no gold, soldiers, or spies.</p>
    <%end%>
  <div class="grid grid-cols-2 gap-4 m-2 ">
    <div class="grid grid-cols-1 gap-1">
      <%if @no_resources%>
      <%else%>
        <% @player_resources&.each do |player_resource| %>
          <%= render player_resource %>
        <% end %>
      <%end%>
    </div>
    <div>
      <% @player_loyalty_roles&.each do |player_loyalty_role| %>
        <div class="m-2">
          <%= render player_loyalty_role %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center p-2 m-2">
  <%= link_to "Return to game page", game_page_show_path(), class:"bg-gradient-to-b from-red-300 to-red-500 border-4 border-black rounded-lg text-xl p-1"%><br/>
  </div>
</div>

